code.json

#Ignore emscripten install dir
emsdk_portable/

#Ignore GWT install dir
gwt/

#Ignore npm debug log
npm-debug.log

# Ignore LLVM build directory
llvm-3.6.2.src/
dragonegg-3.6.2.src/

# Ignore installed project directories
teavm/
gwt-2.8.0/
node_modules/
gcc-4.8.5/
dragome-sdk/
JSIL/
main-finder/
gnu-cobol-2.0/
gmp-6.1.1/
gmp/
gmp-js/
chicken/
commands/chicken-files/

# Ignore .status directory
.status/

# Ignore vscode dirs
.vscode/


